*
{
	margin:0px;
	padding:0px;
	background-color:#000;
}
.header
{
	background-color:#FFF;
	height:90px;
	width:100%;
	border-color:#FFF;
	background-color:#FFF;
}
#logo
{
	float:left;
	display:inline-block;
	margin:5px;
	margin-left:20px;
	
}
#menu
{
	float:right;
	list-style:none;
	margin-top:40px;
	margin-right:20px;
}
#menu li
{
	display:inline-block;
	background-color:#FFF;
	padding:10px;
	
	
}
#menu li a 
{
	color: #FFF;
    text-decoration: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif,;
	font-size:15px;
	border-radius:8px;
	
}
 #menu li.active a
{
	border:1px solid #000;
}
#menu li a:hover
{
	border: 0px solid #000;
	background-color:#999;
	font-size:20px;
}
#clear
{
	clear:both;
}
#content
{
	width:1300px;
	margin:auto;
	margin-top:5px;
	height:600px;
	background-image:url(hotels/57955387.jpg);
	background-repeat:no-repeat;
	background-size:1300px 600px;
	opacity:0.8;
	
	
}

#btn
{
	position:relative;
	top:10px;
	text-align:center;
	border:1px solid #F00;
	background-color:#F00;
	color:#FFF;
	font-size:20px;
	margin:5px;
	text-decoration:none;
	float:right;
	margin-right:50px;
	padding:8px 12px;
	border-radius:8px;
}
#btn:hover
{
	background-color:#000;
	transition:.4s;
}
#mid
{
	width:500px;
	height:500px;
	background-color:#F00;
	border:4px solid #333;
	border-radius:10px;
	margin:auto;
	top:20px;
	text-align:left;
	opacity:0.8;
	font-size:20px;
	padding-top:30px;
	padding-left:100px;
	color:#FFF;
}
#mid input
{
	width:200px;
	height:30px;
	font-size:16px;
	margin-top:12px;
	border-radius:5px;
	border-style:inset;
	background-color:#FFF;
	color:#FFF;
}
#mid input[name="mail"]
{
	width:400px;
	color:#000;
}
#mid input[name="fname"]
{
	
	color:#000;
}
#mid input[name="mn"]
{
	width:400px;
	color:#000;
}
#mid input[name="lname"]
{
	
	color:#000;
}
#mid input[name="gender"]
{
	width:30px;
	margin-top:12px;
	height:20px;
	
}
#mid input[name="check"]
{
	width:150px;
	margin-top:12px;
	height:30px;
	color:#000;
	margin-left:100px;
	text-align:center;
	border-radius:5px;
	border-style:inset;
	
	
}
#mid input[type="checkbox"]
{
	width:30px;
	margin-top:12px;
	height:20px;
	
}
#mid input[type="submit"]
{
	width:130px;
	border-radius:50px;
	margin-left:300px;
	height:40px;
	background:blue;
	color:white;
	font-weight:bold;
}

#mid input[type="submit"]:hover
{
	
	background:white;
	color:blue;
	
}
#mid select[name="dropdown"]
{
	
	margin-top:12px;
	
	color:#000;
	margin-left:0px;
	text-align:left;
	background-color:#FFF;
	width:200px;
	height:30px;
	font-size:16px;

	border-radius:5px;
	border-style:inset;
	
	
}
#mid option[value="hotel"]
{
	
	color:#000;
	
	background-color:#FFF;
}
#mid option[value="nation"]
{
	
	color:#000;
	
	background-color:#FFF;
}
#mid option[value="children"]
{
	
	color:#000;
	
	background-color:#FFF;
}
#mid option[value="rooms"]
{
	
	color:#000;
	
	background-color:#FFF;
}